  
html, body{
    height: 100%;
    width: 100%;
    margin: 0px;
    padding: 0px;
    }

#mapContainer {
    height: 100vh;
    width: 100vw;
    margin: 0px;
    padding: 0px;
    }

#searchBarContainer{
    position: absolute;
    top: 16px;
    left: 16px;
    /* height: 100px; */
    z-index: 1000;
    border-radius: 16px;
    border-color: #fefefe solid 2px;
    padding: 0px;
    max-width: 1440px;
    width: calc(100vw - 32px);
    display: flex;
    flex-direction: row;
    gap: 8px;

}

#searchBar{
    height: 50px;
}

.leaflet-control-zoom{
    position: absolute;
    top: 80px;
    right: 8px;
}